{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.2-web/css/all.css' %}">
    <title>File Uploader</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <div class="drop-box-container">
        <div class="drop-box" id="dropBox">
            <p><i class="fad fa-cloud-upload"></i></p>
            <p>Drag & Drop to Upload File</p>
            <form enctype="multipart/form-data" method="POST" action="">
                <p>or</p>
                {% csrf_token %}
                <div>
                    <label for="fileupload" class="custom-file-upload">Browse File</label>
                    <input type="file" id="fileupload" placeholder="Select file">
                </div>    
            </form>
        </div>
        <div id="uploaded_files"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>